<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Gestionar consultas</h1>
        <p class="text-white mt-0 mb-5">Registrar, editar y modificar consultas</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <!-- Dark table -->
          <div class="col-12 text-right">
              <button class="btn btn-sm btn-primary">Nuevo</button>
            </div>
          <div class="row mt-5">
            <div class="col">
              <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                  <h3 class="text-white mb-0">Listar consultas</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dia</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Fin</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listaConsulta">
                        <td>{{item.id}}</td>
                        <td>{{item.paciente}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.dia}}</td>
                        <td>{{item.horaIni}}</td>
                        <td>{{item.horaFin}}</td>
                        <td class="text-right">
                          <div ngbDropdown placement="bottom-right">
                            <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                              <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content3 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Paciente</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #myform="ngForm" (ngSubmit)="registerConsulta(myform)">
      <div class="modal-body">
        <div class="form-group">
          <label for="ci">Ci</label>
          <div class="input-group">
            <input name="ci" id="ci" class="form-control" type="text" ngModel required>
          </div>
          <label for="nombre">Nombre</label>
          <div class="input-group">
            <input name="nombre" id="nombre" class="form-control"  type="text" ngModel required>
          </div>
          <label for="sexo">Sexo</label>
          <div class="input-group">
            <input name="sexo" id="sexo" class="form-control"type="text" ngModel required>
          </div>
          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <div class="input-group">
            <input name="fechaNacimiento" id="fechaNacimiento" class="form-control" type="text" ngModel required>
          </div>
          <label for="fechaNacimiento">Turno</label>
          <div class="input-group">
            <select  id="idTurno" name="idTurno" class="form-control" ngModel required>
              <option value="">Seleccione un turno</option>
              <option *ngFor="let item of listaTurnos" value="{{item.id}}">{{item.nombre}}</option>
            </select>
          </div>
          <label for="fechaNacimiento">Especialidad</label>
          <div class="input-group">
            <select  id="idEspecialidad" name="idEspecialidad" class="form-control" ngModel required>
                <option value="">Seleccione un turno</option>
              <option *ngFor="let item of listaEspecialidad" value="{{item.id}}">{{item.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </ng-template>

