<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Gestionar pacientes</h1>
        <p class="text-white mt-0 mb-5">Registrar, editar y modificar pacientes</p>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <!-- Dark table -->
          <div class="row mt-5">
            <div class="col">
              <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                  <h3 class="text-white mb-0">Listar pacientes</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                      <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Ci</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Sexo</th>
                          <th scope="col">Fecha nacimiento</th>
                          <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPaciente">
                            <td>{{item.id}}</td>
                            <td>{{item.ci}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.sexo}}</td>
                            <td>{{item.fechaNacimiento}}</td>
                        <td class="text-right">
                          <div ngbDropdown placement="bottom-right">
                            <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                              <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
