<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Historial Medico</h1>
        <p class="text-white mt-0 mb-5">Agregar las notas necesarias para poder procesar la informacion para el
          paciente.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Historial medico</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #myform="ngForm" (ngSubmit)="registerHistorial(myform)">
            <h6 class="heading-small text-muted mb-4">Informacion del paciente</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Paciente</label>
                    <select class="form-control form-control-alternative" id="idPaciente" name="idPaciente" ngModel
                      required>
                      <option value="">Seleccione el paciente</option>
                      <option *ngFor="let item of listaPacientes" value="{{item.id}}">{{item.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Refencia medica</label>
                    <textarea id="referencia" name="referencia" class="form-control form-control-alternative" ngModel
                      required></textarea>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="col-12 text-right">
              <button type="submit" class="btn btn-sm btn-primary">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
